div[contentEditable] {
  cursor: pointer;
  background-color: #D0D0D0;
  margin-bottom: 1em;
  padding: 1em;
}


/* remove .doc-example-live in jsfiddle */
.scope-test .ng-scope {
  border: 1px dashed red;
}